$font-stack-primary: 'Manrope', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
  sans-serif;
$font-stack-heading: 'Metropolis', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
  sans-serif;

$font-size-base: 10px;

$font-size-body: 16px;
$font-size-h1: 100px;
$font-size-h2: 36px;
$font-size-h3: 22px;
$font-size-h4: 16px;
$font-size-h5: 14px;
$font-size-h6: 12px;

$font-line-height-body: 1.6875;
$font-line-height-h1: 1.15;
$font-line-height-h2: 1.3;
$font-line-height-h3: 1.4;
$font-line-height-h4: 1.5;
$font-line-height-h5: 1.5;
$font-line-height-h6: 1.5;

$font-weight-ultralight: 100;
$font-weight-light: 200;
$font-weight-book: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-extrabold: 700;
$font-weight-black: 800;

$font-letter-spacing-h1: -0.02em;
