/**
 * Project Colors
*/

$color-transparent: transparent;

$color-black: #000;
$color-white: #fff;

// Core colors

$color-primary: #e0a996;
$color-secondary: #526dff;

$color-background-html: #171717;

$color-text-header: $color-white;
$color-text: $color-white;

$color-heading: $color-white;

// Social

$color-social-twitter: #1da1f2;
$color-social-facebook: #4267b2;
$color-social-linkedin: #007bb6;
$color-social-instagram: #e1306c;
$color-social-dribbble: #ea4c89;
